* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;

}

.c-container {
    display: flex;
    height: auto;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-image: url('F:/Eldermate-1/frontend/src/assets/Bg2.png');
    background-size: cover;
    background-position: center;

}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    width: 100%;
    padding: 100px;
    background-color: rgba(255, 255, 255, 0.9);

    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-bottom: 1rem;
    font-family: 'Yeseva One', serif;
    color: #517f68;
}

.form-container label {
    display: block;
    margin-top: 1rem;
    text-align: left;
    width: 100%;
}

.form-container input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #517f68;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.role-select {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.role-button {
    width: 100%;
    padding: 15px;
    background-color: #3b755f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.c-form-side {
    border: 2px ridge #517f68;
    border-radius: 10px;
    width: 100%;
    padding: 50px;
    background-color: #f9f9f9;
}


@media (max-width: 992px) {
    .form-container {
        max-width: 90%;

        padding: 20px;
    }

    .role-select {
        flex-direction: column;
        gap: 15px;
    }

    .form-container input,
    .form-container button {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .form-container {
        max-width: 100%;
        padding: 15px;
    }

    .c-container {
        padding: 10px;
    }

    .c-form-side {
        padding: 30px;
    }

    .role-button {
        padding: 10px;
    }
}