body {
    font-family: 'Arial', sans-serif;
    background-color: #fdf9f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #517f68;
    font-family: 'Yeseva One', serif;

    margin: 20px 0;
}

.description {
    color: #555;
    font-size: 1rem;
}

.event-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 20px;
    gap: 20px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.event-container::-webkit-scrollbar {
    display: none;
}


.section-2 {
    flex: 0 0 80%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #f8f8f8;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    scroll-snap-align: center;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideIn 0.6s forwards ease-in-out;
    animation-delay: calc(0.1s * var(--i));
}


.image-wrapper-2,
.text-wrapper-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}


.image {
    width: 100%;
    height: auto;
    max-width: 200px;
    border-radius: 10px;
}

.button1 {
    padding: 0.75rem 2rem;
    background-color: #517f68;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 1rem;
    width: fit-content;
}

.button1:hover {
    background-color: #476a59;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}