* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-image: url('F:/Eldermate-1/frontend/src/assets/Bg2.png');
    background-size: cover;
    background-position: center;
}


.m-container {
    display: flex;
    height: auto;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 25px;
}

.form-container h2 {
    margin-bottom: 1rem;
}

.form-container label {
    display: block;
    margin-top: 1rem;
}

.form-container input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.form-container button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #517f68;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

.form-group label {
    text-align: left;
}

.form-group input,
.select-disease {
    flex: 1 0 auto;
}

.h2 {
    font-family: 'Yeseva One', serif;
    color: #517f68;
}

.select-disease {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.m-form-side {
    border-width: 10px;
    border-radius: 10px;
    border-style: ridge;
    height: auto;
}

@media (max-width: 768px) {
    .form-container {
        width: 90%;
        padding: 10px;
    }

    .m-form-side {
        height: auto;
        padding: 10px;
    }

    .form-container input,
    .form-container button,
    .select-disease {
        width: 100%;
    }
}