body {
    font-family: 'Arial', sans-serif;
    background-color: #fdf9f4;

    margin: 0;
    padding: 0;
}

h1 {
    color: #517f68;
    font-family: 'Yeseva One', serif;

    margin: 20px 0;
}

.description {
    color: #555;
    font-size: 1rem;
}

.services-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 20px;
    gap: 20px;
    scroll-behavior: smooth;
}


.section-1 {
    flex: 0 0 80%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #f8f8f8;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    scroll-snap-align: center;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideIn 0.6s forwards ease-in-out;
    animation-delay: calc(0.1s * var(--i));
}


.image-wrapper-1,
.text-wrapper-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}


.image {
    width: 100%;
    height: auto;
    max-width: 200px;
    border-radius: 10px;
}


@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}